#ClassList {text-align: left;}
	#ClassList li {background-repeat: no-repeat; background-position: 0 0.5em; padding: 0.5em; margin: 0.3em; padding-left: 2em; list-style: none; list-style-image: none;clear: left;}
		#ClassList li img {float: none;}
		#ClassList li span {display: block; margin: 0.5em 0}
			#ClassList li div.images {float: left; margin-right: 10px; }
				#ClassList li div.littleImages {float: right; margin-right: 10px; }
				#ClassList li div.images span.thumb {float: left;}
					#ClassList li div.images span.thumb img {border: 1px solid #000;}
						#ClassList li div.images span.thumb a:hover: img {border: 1px solid red;}
					#ClassList li div.images span.littleThumb img {border: 1px solid #000;}
						#ClassList li div.images span.littleThumb a:hover img{border: 1px solid red;}

			#ClassList .typo-heading {font-weight: bold; font-size: 1.3em; text-decoration: underline; margin-top: 0!important; padding-top: 0!important;}
.typo-example {}
.typo-fullLink {}
 .typo-fullLink a {}

#TemplateOverviewImages img {border: 10px solid #ccc;}
.MoreDetailOL {clear: left; border: 3px dotted #ccc; display: none;}
	.MoreDetailOL .moreDetailLI {margin-left: 0px!important; padding-left:0!important;}
.templateOverviewDescription {border: 1px solid green; padding: 10px; margin: 0px;}
.updateToDoListLink {font-weight: bold; color: green;}
