body {
    max-width: 1200px;
    margin: 40px auto 400px auto!important;
    display: block!important;
    overflow: visible!important;
}

li { padding-top: 2rem!important; margin-left: 1rem!important; border-top: 1px solid #555!important;}
li li { padding-top: 1rem!important;list-style: circle!important; border-top: none!important;}
li li li { padding-top: 0.5rem!important;}
li li li li { padding-top: 0.2rem!important;}
.more-details-holder {list-style: none!important;}
