body {
    max-width: 1200px;
    margin: 40px auto 400px auto!important;
    display: block!important;
    overflow: visible!important;
}

li { padding-top: 2rem;}
li li { padding-top: 1rem;}
li li li { padding-top: 0.5rem;}
li li li li { padding-top: 0.2rem;}
